.nothing__main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: $primary;
    align-items: center;
    height: 100vh;

    p{
        text-align: center;
    }
}